body {
display: flex;
flex-flow: column nowrap;
align-items: center;
justify-content: center;
/* height: 95vh; */
}
p{
    margin: 0px;
}
body>div {
margin:2px;
display: flex;
flex: 1 1 100%;
flex-flow:column nowrap;
/* max-height: 551px; */
min-height: 550px;
max-width: 550px;
min-width: 550px;
border: 1px solid black;
}

div {
    display: flex;
    flex-flow:row nowrap;
    flex: 1 1 100%;
    border: 0 solid black;
}
body>.border>div:last-child{
    
    border-width: 0 0px 0px 0;
}
body>.border>div {
    border-width: 0 0px 0.05px 0;
}
body>.border>div>div {
    border-width: 0px 0.05px 0px 0px;
}
.black {
    background-color: black;
}